@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: aliceblue;
  --foreground: #333333;
  --header: #ededed;
  --input: #e0dfdf;
  --card: #eceaea;
}

.dark {
  --background: #282727;
  --foreground: aliceblue;
  --header: #2d2d2d;
  --input: #555555;
  --card: #343333;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.hide {
  display: none;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: var(--foreground);
  text-transform: capitalize;
}

/* for header */
.give-black-bg {
  background-color: var(--background);
  animation: backgroundChange 500ms ease-in-out;
}

.unclicked {
  @apply w-8 h-6 flex flex-col justify-center items-center cursor-pointer relative;
  border-top: 2px solid var(--text-blueLight);
}

.unclicked::after {
  content: "";
  display: block;
  background-color: var(--text-blueLight);
  height: 2px;
  width: 100%;
  margin-bottom: 1px;
}

.unclicked::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  background-color: var(--text-blueLight);
  height: 2px;
  width: 80%;
  left: 0;
}

.clicked {
  @apply w-8 h-8 flex flex-col justify-center items-center cursor-pointer relative -rotate-45;
}

.clicked::after {
  content: "";
  display: block;
  background-color: var(--text-blueLight);
  height: 2px;
  width: 100%;
}

.clicked::before {
  content: "";
  display: block;
  background-color: var(--text-blueLight);
  height: 2px;
  width: 100%;
  transform: rotate(90deg);
  position: absolute;
}
